/*..main*/
.main{
    /* background-image:url("../../../public/assets/images/main.jpg"); */
    background-image:url("https://images.unsplash.com/photo-1499529112087-3cb3b73cec95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size:cover;
    background-position:center;
    position:relative;
    justify-content:left !important;
}

.main::after{
    content:"";
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    background:linear-gradient(to right, rgba(1,1,1,0.9) 20%, rgba(1,1,1,0.6) 60%, rgba(1,1,1,0.2) 100%);
}

.main article{
    width:55%;
    color:var(--white);
    z-index:11;
}

.main article p{
    color:var(--gray);
    font-weight:300;
}

@media (max-width:1020px){
    .main article{
        width:70%;
    }
}

@media (max-width:920px){
    .main article{
        width:100%;
    }
}


/*SECTION1*/
.section1{
    border-top:2px solid var(--primary);
    /* background-color:var(--dark); */
    color:var(--black);
    pointer-events:auto;
}

.section1 .flex-content:nth-child(1){
    width:60%;
}

.section1 .title{
    line-height:0;
}

.section1 p{
    color:var(--black);
}

.section1 img{
    width:100%;
    border-radius:0 30px 30px 0;
    position:relative;
}

.section1 .flex-content:nth-child(1):before{
    content:"";
    width:100%;
    height:100%;
    background-image:url("../../../public/assets/images/dots.png");
    background-repeat:no-repeat;
    position:absolute;
    left:0;
    top:1%;
    z-index:1;
    --delay: 0s;
    animation: arrows 4s var(--delay) infinite ease-in;
}

@media (max-width:620px){
    .section1 .flex-content:nth-child(1){
        width:100%;
    }
}



/*SECTION2*/
.section2{
    padding:2rem 6rem;
}

.section2 .flex:nth-child(1) .flex-content:nth-child(1) h1{
    line-height:0;
}

.section2 .flex:nth-child(1) .flex-content:nth-child(1) p{
    width:80%;
}

.section2 figure{
    background-size:cover;
    padding:1rem;
    overflow:hidden;
    transition:0.5s;
}

.section2 figure article{
    width:100%;
    height:100%;
    background-color:rgba(1,1,1,0.7);
    color:var(--white);
    transition:0.5s;
}

.section2 figure article h1{
    position:relative;
}

.section2 figure article h1::after{
    content:"";
    width:100px;
    height:2px;
    position:absolute;
    bottom:-20%;
    left:0;
    background-color:var(--primary_lite);
}

.section2 figure:hover article{
    background-color:rgba(1,1,1,0.8);
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
}

.section2 figure article footer{
    background-color:transparent !important;
}

.section2 figure article footer a{
    width:40px;
    height:35px;
    background-color:rgba(255,255,255,0.5);
    border-radius:50%;
    z-index:111;
    color:var(--white);
    display:flex;
    align-items:center;
    justify-content:center;
}

.section2 figure article footer p {
    text-align:left;
}

.section2 figure:hover article footer a{
    background-color:var(--primary_lite);
}

.section2 figure article footer a:hover{
    background-color:var(--primary);
}

@media (max-width:920px){
    .section2{
        padding:0rem;
    }
    
    .section2 .flex:nth-child(1) .flex-content:nth-child(1) p{
        width:100%;
    }
    
    .section2 figure article footer{
        margin-bottom:0;
    }
    
    .section2 figure article footer a{
        width:35px;
        height:35px;
    }
}



/*SECTION3*/
.section3{
    background-image:url("../../../public/assets/images/contact.jpg");
    background-size:cover;
}

.section3 .flex-content:nth-child(1){
    width:45%;
}

.section3 .title{
    position:relative;
    color:var(--white);
}

.section3 .title:after{
    content:"";
    width:100px;
    height:2px;
    background-color:var(--primary_lite);
    position:absolute;
    left:0;
    bottom:-20%;
}

.section3 p{
    color:var(--gray);
}

.section3 form fieldset{
    border:0;
    position:relative;
    overflow:hidden;
}

@media (max-width:920px){
    .section3 .flex-content:nth-child(1){
        width:100%;
    }
    
    form{
        width:100%;
    }
    
    form .flex-content:nth-child(1){
        margin-right:0rem;
        margin-bottom:1rem;
    }
    
    form .flex:last-child{
        flex-wrap:nowrap;
    }
}



/*SECTION4*/
.section4{
    background-attachment:fixed;
    background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url("../../../public/assets/images/curves.png");
}

.section4 section{
    transition:0.5s;
}

.section4 figure{
    position:relative;
    overflow:hidden;
    height:60vh;
}

.section4 figure img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.section4 section:nth-child(odd) figure{
    margin-top:-2rem;
}

.section4 section:nth-child(even) figure{
    margin-top:8rem;
}

.section4 article{
    position:absolute;
    top:100%;
    background-color:rgba(1,1,1,0.7);
    width:100%;
    height:100%;
    z-index:1;
    transition:0.5s;
}

.section4 article span{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    left:-100%;
    transition:0.5s;
    transition-delay:0.5s;
}

.section4 figure:hover article{
    top:0%;
}

.section4 figure:hover article span{
    left:0;
}

.section4 h2, .section4 p{
    color:var(--white);
}

@media (max-width:920px){
    .section4{
        padding:0rem !important;
    }
    
    .section4 figure{
        height:30vh;
    }
    
    .section4 section{
        margin:0px 0;
    }
    
    .section4 section:nth-child(odd) figure{
        margin-top:0rem;
    }

    .section4 section:nth-child(even) figure{
        margin-top:0rem;
    }
}
